@import "node_modules/foundation-sites/scss/settings/_settings.scss";
/* @import "settings"; */
@import "foundation";

.headroom {
    margin: 15px 0 0 0;
}
 
.centered {
    text-align: center;
}

.message {
    text-align: center;
    background: #eff;
    font-size: 0.9em;
}

.ui-helper-hidden-accessible {
    display: none;
} 